.searchContainer {
    display: flex;
    height: 60rem;
    justify-content: center;
    background-image: linear-gradient(0deg, #615878b8, #615878c5 20%, #464161c1 60%, #313050c5 90%, #313050ab);
    background-repeat: no-repeat;
}

.search-input {
    height: 100%;
    width: 100%;
    padding-block: 0.75rem;
    border: none;
    outline: none;
    color: #080a0c;
    background: transparent;
}
.search-inner {
    margin-top: 10rem;
    width: 50rem;
}
.search {
    grid-column: span 2;
    order: 3;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-block: 1rem;
} 
.search-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    padding-inline: 1.5rem;
    border-radius: 5px;
    background: #f4f5f5;
} 
.suggestions{
    align-items: flex-start;
}
.suggestions>ul{
    margin-left: -2rem;
    list-style: none;
}
.suggestions>ul>li{
    list-style: none;
    border: 1px inset grey;
    border-radius: 5px; 
    background: #f4f5f5d4;
    padding: 2px;
    margin: 2px;
    cursor: pointer;
    transition:  all 0.2s;
}
.suggestions>ul > li:hover {
    transform: scale(1.05);
    background-color: rgba(0, 179, 255, 0.604);

}